@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');

h1{
    font-size: 4em;
}

.main-font{
    font-family: 'Merriweather Sans', sans-serif;
}


.bg-purple , .btn-purple {
    background: rebeccapurple;
}

.text-purple{
    color: rebeccapurple;
}

.text-gw{
    color: ghostwhite;
}

.bg-gw , .btn-gw{
    background: ghostwhite;
}

.width-stretch{
    min-width: 100%;
    display: flex;
}

.w-33{
    min-width: 33%;
    width: 75%;
    max-width: 75%;
    display: flex;
}

.img-avatar{

    width: 75%;
    max-width: 75%;
    height: 512px;
}

.debugger{
    border: 5px solid red;
}


